<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Restaurant</title>
</head>
<body>
<h1>Client Details</h1>

<div>
    <p th:text="${client.id}"></p>
    <p th:text="${client.name}">Name:</p>
    <p th:text="${client.phone}">Phone:</p>
    <p th:text="${client.processed}">Processed:</p>
</div>

 <div th:if="${dishes == null}">
     <p>No dishes yet</p>
 </div>

 <div th:if="${dishes != null}">
     <h2>Dishes</h2>
     <table>
         <thead>
         <tr>
             <th>Dish Name</th>
             <th>Description</th>
         </tr>
         </thead>
         <tbody>
         <tr th:each="dish : ${dishes}">
             <td th:text="${dish.dish}"></td>
             <td th:text="${dish.description}"></td>
         </tr>
         </tbody>
     </table>
 </div>

<p><a th:href="@{/resto}">Go back to Overview</a></p>

</body>
</html>