<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Create client</h1>
<form action="/client" method="post" th:object="${dishes}">
    <p th:text="${#fields.globalErrors()}"></p>
    <div>
        <label for="dishName">Name</label>
        <input type="text" th:field="*{dishName}">
        <p th:errors="*{dishName}"></p>
    </div>
    <div>
        <label for="description">Phone</label>
        <input type="text" th:field="*{description}">
    </div>
    <input type="submit" value="Create dish">
</form>
</body>
</html>