<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Create order</h1>
<form action="/order" method="post" th:object="${order}">
    <p th:text="${#fields.globalErrors()}"></p>
    <div>
        <label for="name">Name</label>
        <input type="text" th:field="*{name}">
        <p th:errors="*{name}"></p>
    </div>
    <div>
        <label for="phone">Phone</label>
        <input type="text" th:field="*{phone}">
    </div>
    <div>
        <label for="processed">Processed</label>
        <input for="processed" name="processed" type="checkbox" th:field="*{processed}">
    </div>
    <input type="submit" value="Create order">
</form>
</body>
</html>