<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Restaurant</title>
</head>
<body>
<h1>New Order Form</h1>

<form method="post" action="/resto/new" th:object="${clientDTO}">

    <label for="name" class="formname">Name</label>
    <input class="form-control" id="name" type="text" th:field="*{name}">
    <div class="danger">
        <p th:errors="*{name}"></p>
    </div>

    <label for="phone" class="formphone">Phone</label>
    <input class="form-control" id="phone" type="text" th:field="*{phone}">
    <div class="danger">
        <p th:errors="*{phone}"></p>
    </div>

    <input type="submit" value="Add Client">
</form>
</body>
</html>