<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2>Process Order</h2>
<p th:text=" 'Is de order ' + ${client.id} + ' van ' +  ${client.name} + ' klaar?'"></p>

<form method="post" action="/resto/process">
    <input type="radio" id="yes" name="confirmation" value="yes" checked>
    <label for="yes">Yes</label><br>
    <input type="radio" id="no" name="confirmation" value="no">
    <label for="no">No</label><br>

    <input type="hidden" th:value="${client.id}" name="clientId"/>
    <input type="submit" value="Bevestig">
</form>
</body>
</html>